$e-global-color-primary: #09574A;
$e-global-color-secondary: #000000;
$e-global-color-tertiary: #575351;
$e-global-color-text: #626262;
$e-global-color-accent: #EBC6A4;
$e-global-color-border: #E3DFDA;
$e-global-color-lighter: #999999;
$e-global-color-dark: #000000;
$e-global-color-highlight: #E74F3D;
$e-global-typography-secondary-font-weight:400;