@use '../../scss/mixin' as mixin;
@use '../../scss/variable' as var;

.aboutUs{
    @include mixin.img($wid:100%,$heit:570px);
    @include mixin.ground($ground_size:contain,$ground_pos:center,$ground_repet:no-repeat);
    @include mixin.breakpoint('medium'){
        background-size: cover;
    }
    @include mixin.breakpoint('large'){
        width: 80%;
        height: 920px;
    }
    
    .boxing{
        @include mixin.text($ground:#fff,$radius:20px 80px 20px 80px);
        width: 100%;
        padding: 50px 40px;
        float: none;
        margin: 0px;
        @include mixin.breakpoint('large'){
            margin: 70px;
            float: right;
            width: 630px;
            padding: 80px 110px;
        }
        .animation{
             svg{
                margin-bottom: 20px;
                animation: rotate 20s linear infinite;
             }
        }
        .text{
            h2{
                @include mixin.text($colrs:var.$e-global-color-primary,$f_size:30px,$l_heit:35px);
                font-family: var(--ibarra);
                padding-bottom:  23px;
                @include mixin.breakpoint('large'){
                    font-size: 40px;
                    line-height: 44px;
                }
            }
            p{
                @include mixin.text($colrs:var.$e-global-color-text,$f_size:16px,$f_weight:400,$l_heit:30px);
                font-family: var(--montserrat);
            }
        }
        .linktGet{
            margin-top: 20px;
            a{
                @include mixin.text($colrs:var.$e-global-color-secondary,$f_size:12px,$f_weight:600,$ground:transparent);
                font-family: var(--montserrat);
                @include mixin.position($position:relative,$z_index:1);
                svg{
                    vertical-align: middle;
                }
                &::before{
                    content: "";
                    @include mixin.position($position:absolute,$top:-17px,$left:-17px,$z_index:-1);
                    @include mixin.text($radius:28px,$ground:#EBC6A4);
                    @include mixin.img($wid:50px,$heit:50px);
                    transition: all .4s ease;
                }
                &:hover{
                    &::before{
                        width: 130%;
                    }
                }
            }
        }
    }
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}